.btn-group.type-filter
  %button.btn.btn-default Won
  %button.btn.btn-default Lost
  %button.btn.btn-default Playing
  %button.btn.btn-default Mine

%table.table.table-striped
  %thead
    %tr
      %th
      %th Player
      %th Board
      %th Misses
  %tbody
    - @hangmen.each do |game|
      %tr{ class: row_status_class(game) }
        %td
          - if game.finished?
            = link_to 'View', game, class: 'btn btn-default'
          - else
            = link_to 'Play', game, class: 'btn btn-primary'
        %td= game.user.email
        %td= game.board
        %td
          = "#{game.misses}/#{game.max_misses}"
          - if game.won?
            %span.label.label-success Won
          - elsif game.lost?
            %span.label.label-danger Lost
    %tr
      %td{ colspan: 3 }
        = link_to 'New Game', hangmen_path, method: :post, class: 'btn btn-success btn-large'

/ v is a HAML helper for inlining javascript
:javascript
  // This would be available globally
  //function filter_rows_global(row_type) { console.log("here"); }

  // Run this function only once document is entirely loaded
  $(function() {
    // All of this text is inserted _unprocessed_ into a script tag

    var filter_rows = function(row_type) {
      $('tbody tr').hide();
      if (row_type === "Won") {
        $('tr.won').show();
      } else if (row_type === "Lost") {
        $('tr.lost').show();
      } else if (row_type === "Mine"){
        $('tr.mine').show();
      } else {
        $('tr.playing').show();
      }
    }

    filter_rows("Playing");

    // a button inside a node with class type-filter
    // button.btn-group would select a button with class btn-group
    $('.type-filter button').click(function(e) {
      //console.log("e is:", e);

      //alert("Clicked");
      // this is the node that was clicked on

      // show us what we clicked on
      // console.log(this);
      // console.log("button text is: ", this);
      // console.log("button text is " + this);

      // grab contents of node
      // console.log(this.innerHTML);   // raw javascript
      // console.log( $(this).text() ); // jQuery
      filter_rows( $(this).text() );
    });
  });
