%pre= @hangman.board

%h5 Guessed
%p= @hangman.guessed

%h5 Misses
%p #{@hangman.misses}/#{@hangman.max_misses}

%h5 Available
%p= @hangman.available_letters.join

- if @hangman.won?
  %h3 You Won!
- elsif @hangman.lost?
  %h3 You Lost!
- else
  = form_tag hangman_path(@hangman), method: :patch do
    %input{ name: "guess", length: 1, autofocus: true }
    %button.btn.btn-primary Guess
